@charset "utf-8";

@import "node_modules/bulma/sass/utilities/initial-variables";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");


// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$primary: #46b4a5;

// Update some of Bulma's component variables
$control-border-width: 2px;

// Import the rest of Bulma
@import "node_modules/bulma/bulma";